.movieCardArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-rows: auto;
  margin-top:50px;
  margin-bottom:50px;
}

.bookCardArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-rows: auto;
  margin-top:50px;
  margin-bottom:50px;
}


@media(--phone){
  .movieCardArea{
    grid-template-columns: repeat(2,1fr);
  }

  .bookCardArea{
    grid-template-columns: repeat(1,1fr);
  }
}